<body>
    <br>
    <h1>About Us</h1>
    <br>
    <pre style="font-size: larger; color:ivory">We are here to provide you the best practice tests and make you ready for any competitive 
    examinations.Here, you can take all tests for free of cost.We even provide the
    study materials for various competitive examinations and also the interview preparation kit
    Our moto is to help students to gain knowledge through online tests.
    To know more about the materials and courses we offer,  
    </pre>
    
    <br>
    <a href="/contact" class="btn btn-primary">Contact Us</a>
    <br>
    <br>
    <br>
    <br>
</body>